<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title  %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>
    /* Your existing CSS styles go here */

    /* Additional styles for smooth scrolling */
    html {
        scroll-behavior: smooth;
    }
    .row {
  display: flex;
}

.icon-box {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.dropdown ul li a {
    text-align: center !important;
}


  
</style>

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header style="background-color: rgb(205, 255, 248);" id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 s style="color:rgb(0, 0, 0); font-weight: bolder;" class="logo">EventiFy</h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a style="font-weight: bold;" class="nav-link scrollto active" href="#">Home</a></li>
          <li><a style="font-weight: bold;" class="nav-link scrollto" href="#contact">Contact Us</a></li>
        
          <li><a style="font-weight: bold;" class="nav-link scrollto" href="/userlogin">User Login</a></li>
          <li><a style="font-weight: bold;" class="nav-link scrollto" href="/adminlogin">Admin Login</a></li>    
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center vh-100" >
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1 style="color:deepskyblue">Welcome to  EventiFy!</h1>
          <h2 style="color: aquamarine;">Please login or register as a user to access our platform.</h2>
          
        </div>
      </div>
      
      <div id="slog" class="text-center">
        <a href="/userlogin" class="btn-get-started">Login</a>
    </div>

      </div>

  </section><!-- End Hero -->
 
 
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact" style="background-image: url('../static/assets/img/wallpaperflare.com_wallpaper(4)(1).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="color: aquamarine;">Contact Us</h2>
        <p style="color: rgb(189, 255, 119);">If you have any suggestions, questions or need help with something specific, feel free to contact us.</p>
      </div>

      

      <div class="row mt-5 justify-content-center">

        <div class="col-lg-2" style="background-color:gainsboro ;margin-right: 10px;border-radius: 10px;">
            <div class="info" style="background: transparent;">
    
                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4 style="color: rgb(44, 118, 118);">Email:</h4>
                    <p><a href="mailto:eventify@gmail.com">eventify@gmail.com</p></a>
                </div>
    
            </div>
        </div>
    
        <div class="col-lg-2" style="background-color:gainsboro;border-radius: 10px;">
            <div class="info" style="background: transparent;">
    
                <div class="phone" style="margin-bottom: 20px;" >
                    <i class="bi bi-phone"></i>
                    <h4 style="color: rgb(44, 118, 118);">Call:</h4>
                    <p>+91 8971196685</p>
                    <p>+91 9400420321</p>
                </div>
    
            </div>
        </div>
    
    </div>
        </div>
  </section>
  <!--End Contact Section-->
 
  



<footer class="text-center" style="background-color: rgb(233, 255, 235);">
  <div class="container d-flex justify-content-center align-items-center py-4">

      <div>
          <div class="copyright">
              &copy; Copyright <strong><span>EventiFy</span></strong>. All Rights Reserved
          </div>
          
      </div>

  </div>
</footer><!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  
</body>

</html>