<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eventify | Explore Events</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <style>
    .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: start;
    }
    
    .dropdown-menu {
      width: 200px; /* adjust this value as per your requirement */
    }
    .row {
  display: flex;
}

.icon-box {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
html {
        scroll-behavior: smooth;
    }
  </style>
  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header style="background-color: rgb(205, 255, 248);" id="header" class="fixed-top">
    <div  class="container d-flex align-items-center justify-content-between">

      <h1 s style="color:rgb(0, 0, 0); font-weight: bolder;" class="logo">EventiFy</h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a style="font-weight: bold;" class="nav-link scrollto active" href="#">Home</a></li>
          <li><a style="font-weight: bold;" class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
          <nav class="d-flex align-items-center">
            <ul class="navbar-nav flex-row">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <i class="bi-person-circle"></i>
                        <span style="font-weight: bold;" class="d-none d-md-block dropdown-toggle ps-2 text-center">{{current_user.name}}</span>
                    </a><!-- End Profile Image Icon -->
        
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 class="text-center">{{current_user.name}}</h6>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center justify-content-center" href="/logout">
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
          
        
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100" style="background-image: url('../static/assets/img/group-people-near-stage-concert(1).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; padding: 100px 0;">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1 style="color:deepskyblue">Welcome to  EventiFy!</h1>
          <h2 style="color: aquamarine;">Your one stop shop for all your event needs.</h2>
        </div>
         
      </div>
      

      <div style="color: black;" class="row icon-boxes justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <a href="#events">
              <div class="icon-box" style="background-color: rgb(40, 40, 40); color: white;">
                  <div class="icon"><i class="bx bx-calendar-event"></i></div>
                  <h2 style="color: rgb(255, 98, 0);" class="nav-link scrollto">Events</h2>
                  <p style="color: rgb(100, 187, 0); font-family: 'Comic Sans MS';" class="description">Explore different types of events</p>
              </div>
          </a>
      </div>
      
      

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <a href="/user/booking">
          <div class="icon-box" style="background-color: rgb(40, 40, 40); color: white;">
            <div class="icon"><i class="bi bi-list"></i></div>
            <h2 style="color: rgb(255, 98, 0);" class="nav-link scrollto">My Tickets</h2>
            <p style="color: rgb(100, 187, 0); font-family: 'Comic Sans MS';" class="description">View or modify your booked tickets</p>

          </div>
        </a>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <a href="/user/reviews">
          <div class="icon-box" style="background-color: rgb(40, 40, 40); color: white;">
            <div class="icon"><i class="bi bi-chat-dots"></i></div>
            <h2 style="color: rgb(255, 98, 0);" class="nav-link scrollto">My Reviews</h2>
            <p style="color: rgb(100, 187, 0); font-family: 'Comic Sans MS';" class="description">View or modify your posted reviews</p>

          </div>
        </a>
        </div>

        

      </div>
    </div>
  </section><!-- End Hero -->
 <!-- Events-->
<section  id="events" class="services section-bg" style="background-image: url('../static/assets/img/jorik-kleen-x1yHtSg1DsQ-unsplash(2)(1).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; color: #fff; padding: 100px 0;">
  <div class="container" data-aos="fade-up">
    <!-- {% include "message.html" %} -->
    <div class="section-title">
      <h2 style="color:gold;font-weight: bolder; "  >Event Section</h2>
      <p style="color:chartreuse">Explore all the different Events!</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <a href="/user/concerts" style="text-decoration: none; color: inherit; display: block; width: 100%;">
        <div class="icon-box iconbox-blue" style="background-color: rgb(255, 163, 72); color: white;">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
            </svg>
            <i class="bi-music-note-list"></i>
          </div>
          <h4 style="color:black;font-weight: bolder;font-family: Courier;">Concerts</h4>
          <p style="color:rgb(93, 176, 220)">Explore concerts happening in around you.</p>
        </div>
      </a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <a href="/user/festivals" style="text-decoration: none; color: inherit; width: 100%;">
        <div class="icon-box iconbox-orange " style="background-color: rgb(0, 171, 168); color: white; ">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
            </svg>
            <i class="bx bx-album"></i>
          </div>
          <h4 style="color:black;font-weight: bolder;font-family: Courier;">Festivals</h4>
          <p style="color:rgb(255, 85, 18)">Explore all the festivals and other related events</p>
        </div>
      </a>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <a href="/user/others" style="text-decoration: none; color: inherit; width: 100%;">
        <div class="icon-box iconbox-pink" style="background-color: rgb(163, 67, 157); color: white; ">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
            </svg>
            <i class="bx bx-menu-alt-left"></i>
          </div>
          <h4 style="color:black;font-weight: bolder;font-family: Courier;">Other Events</h4>
          <p style="color:rgb(93, 220, 157)">Explore any type of event that is not listed above</p>
        </div>
      </a>
      </div>

      

    </div>

  </div>
</section>
 
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact" style="background-image: url('../static/assets/img/wallpaperflare.com_wallpaper(4)(1).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="color: aquamarine;">Contact Us</h2>
        <p style="color: rgb(189, 255, 119);">If you have any suggestions, questions or need help with something specific, feel free to contact us.</p>
      </div>

      

      <div class="row mt-5 justify-content-center">

        <div class="col-lg-2" style="background-color:gainsboro ;margin-right: 10px;border-radius: 10px;">
            <div class="info" style="background: transparent;">
    
                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4 style="color: rgb(44, 118, 118);">Email:</h4>
                    <p><a href="mailto:eventify@gmail.com">eventify@gmail.com</p></a>
                </div>
    
            </div>
        </div>
    
        <div class="col-lg-2" style="background-color:gainsboro;border-radius: 10px;">
            <div class="info" style="background: transparent;">
    
                <div class="phone" style="margin-bottom: 20px;" >
                    <i class="bi bi-phone"></i>
                    <h4 style="color: rgb(44, 118, 118);">Call:</h4>
                    <p>+91 8971196685</p>
                    <p>+91 9400420321</p>
                </div>
    
            </div>
        </div>
    
    </div>
        </div>
  </section>
  <!--End Contact Section-->
  
 
  
{% block body %}
{% include "message.html" %}
{% endblock %}


<footer class="text-center" style="background-color: rgb(233, 255, 235);">
  <div class="container d-flex justify-content-center align-items-center py-4">

      <div>
          <div class="copyright">
              &copy; Copyright <strong><span>EventiFy</span></strong>. All Rights Reserved
          </div>
          
      </div>

  </div>
</footer><!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>